body{
    display: flex;
    justify-content:center;
    flex-direction: column;
    align-items: center;
    height: calc(100vh - 16px);
    background-color:#FFFFFF;
    

}
.game{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header{
    display: none;
    justify-content: center;
    background-color: #57996d;
    width: 25%;
    width: 100vw;
    color: #FFFFFF; 
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    position: fixed;
}

.footer{
    display: none;
    justify-content: center;
    align-items: center;
    background-color: #57996d;
    bottom: 0;
    position: fixed;
    width: 100%;
    color: #FFFFFF;

}

.side-barre h1{
    font-size: 2em;

}

canvas{
    height: 50vh;
    width: 30vw;
    border-radius: 10px;
}

img{
    display: none;
}

.content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}