/*style pour le menu flottant*/
.modal{
    display: block;
    position: fixed;
    z-index: 2;
    width: 35vw;
    overflow: auto;
    background-color: #57996d;
    border-radius: 15px;
}

.modal h1{
    font-size: 3em;
    background-color: #824444;
    padding: 1% 2% 1% 2%;
    margin: 5% 1% 5% 1%;
    border-radius: 15px;
}
/*style pour le contenu du menu*/
.modal-Content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    color: #FFFFFF;

}
/*Style des boutons*/
.btn{
    padding: 2% 5% 2% 5%;
    border-radius: 15px;
    border: 0;
    font-size: 1em;
    color: #FFFFFF;
    background-color: #6c706d;
    transition: 0.3s;
}

.btn:hover{
    background-color: #824444;
}
/*css de la class contenant les element de choix du joueur*/
.MidBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/*css pour la selection des niveaux avec les radios buttons*/
.radio{
    display: inline-flex;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}

.radio__input{
    display: none;

}
.radio__label{
    padding: 8px 14px;
    font-family: sans-serif;
    font-size: 1.5em;
    color: #FFFFFF;
    background:#6c706d;
    cursor: pointer;
    transition: background 0.3s;
}

.radio__label:not(:last-of-type){
    border-right: 1px solid #4e5550;
}

.radio__input:checked+.radio__label{
    background:#824444;
}

.radio__label:hover{
    background-color: #824444;
}
/*css pour le slider des des taille de carte*/
.size{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.size-option{
    display: flex;
    justify-content: space-between;
    width: 15vw;
}

#slider{
    -webkit-appearance: none;
    outline: none;
    border-radius: 15px;
    padding: 1%;
    width: 15vw;
    background-color: #FFFFFF;
}

#slider::-webkit-slider-thumb{
    -webkit-appearance: none;
    background-color: #6c706d;;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    cursor: pointer;
    z-index: 3;
}
/*Css pour le checkbox pour les murs*/
.btnWall{
    padding: 5%;
    display: flex;
    align-items: center;

}
#murCheck{
    -webkit-appearance: none;
    background-color: #FFFFFF;
    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid currentColor;
    border-radius: 0.40em;
    transform: translateY(-0.075em);
    margin-right: 10px;
    
}
#murCheck:checked{
    -webkit-appearance: none;
    background-color: #824444;
}
/* game over part */

.GAMEOVER{
    display: block;
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    z-index: 1;
    width: 20vw;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 15px;
    
}

.GAMEOVER-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.GAMEOVER-content button{
    margin: 5%;
}

.btnGameOver{
    padding: 2% 5% 2% 5%;
    border-radius: 15px;
    border: 0;
    font-size: 1em;
    color: #000000;
    background-color: #ffffff;
    transition: 0.3s;
}

.btnGameOver:hover{
    background-color: #62f3af;
}